@import "./colors";
@import "./fontsColor";
@import "./sizes";

body{
    width: 90vw;
    padding: 40px;
    background-color: $body-color;
    display: flex;
    justify-content: space-around;
}
.main{
    font-family: 'Open Sans', sans-serif;
    background-color: $main-color;
    width: 85vw;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 2.5em 2.5em;
    &__wrapper{
        width: 60vw;
        &--head{
            color: $font-color-secondry;
            font-weight: 600;
        }
        &--content{
            color: $font-color-primary;
            font-size: 40px;
            font-weight: 600;
        }
        
    }
    &__img{
        background-image: url(./assets/cardImg.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 25vw;
        border-radius: 10px;
    }
}

@media only screen and (max-width: 740px) {

    body {
      background-color: lightblue;
      padding: 20px;

    }
    .main{
        display: block;
        
        &__wrapper{
            width: 80vw;
        }
        &__img{
            width: 80vw;
            height: 40vh;
            background-color: red;
        }

    }
}

// second design begins here





