body{
    width: 98vw;
    padding: auto;
    background-color: white;
}

.banner{
    background-color: rgb(30, 30, 30);
    width: initial;
    padding: 20px 20px 60px 20px;
    position: relative;
    &__nav{
        color: white;
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;
        &--logo{
            width: 30px;
        }
    }
    &__img{
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    &__article{
        position: absolute;
        top: 50%; 
        left: 40%; 
        &--head{
            display: block;
            margin-left: auto;
            margin-left: auto;
            font-family: 'Open Sans', sans-serif;
            white-space: nowrap;
            font-size: 40px;
            font-weight: 200px;
            line-height: 30px;
            color: white;
            & b{
                display: block;
                
            }
            & i {
                font-style: normal;
                font-size: 35px;
                line-height: 50px;
            }
            & em {
                font-style: normal;
                font-size: 74px;
                line-height: 50px;
            }
            
        }
    }
}
.main{
    font-style: normal;
    display: block;
    padding: 40px;
    &__head{
        &--article{
            display: flex;
            justify-content: space-between;
            color: rgb(51, 50, 50);
        }
    }
}
footer{
    vertical-align:bottom;
    & img{
        border-radius: 50px;
        width: 50px;
        height: 50px;
        margin-right: 20px;

    }
    & b{
        margin-right: 20px;

    }
    & span{
        color: white;
        margin-right: 20px;

    }
    & .span1{
        background-color: rgb(143, 213, 216);
        padding: 5px 20px;
        border-radius: 10px;
    }
    .span2{
        background-color: rgb(180, 130, 251);
        padding: 5px 20px;
        border-radius: 10px;
    }
    .span3{
        background-color: rgb(255, 51, 68);
        padding: 5px 20px;
        border-radius: 10px;
    }
}

